# Credentials & Secrets
.env
credentials.json
env.yaml
playwright_state.json
GCPPowerShell.txt
agentic-scraping-pptd-f7bc092f86f3.json
Property_Color_Analysis_API.postman_collection.json
Property_Management_APIs.postman_collection.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/__
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/

# Conda
.conda/
conda-bld/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

searches_found.txt

api_cache/


env.yaml

GCPPowerShell_API.txt

benchmark_web/
